@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  font-size: 16px;
}

.logo-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}

.link-menu {
  display: flex;
  align-items: center;
  gap: 40px;
  cursor: pointer;
}

.link-menu span:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.link-menu a {
  color: var(--bg-color-black);
  text-decoration: none;
}

.link-other-menu {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  position: relative;
}

.link-other-menu-content {
  display: none;
  position: absolute;
  background-color: var(--bg-color-white001);
  box-shadow: 0px 8px 16px 0px var(--bg-color-black-opacity);
  margin-top: 120px;
  text-align: center;
  border-radius: 6px;
  z-index: 1;
}

.burger-menu {
  display: none;
  font-size: 36px;
  cursor: pointer;
}

.menu {
  display: none;
  background-color: #ffffff;
  position: absolute;
  top: 60px;
  right: 0;
  width: 200px;
  text-align: right;
  padding: 10px;
}

.menu a {
  text-decoration: none;
  color: #000000;
  display: block;
  margin: 10px 0;
  text-align: center;
}

.menu a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}


.icon-menu {
  display: flex;
  gap: 12px;
  cursor: pointer;
}

.head-menu2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.head-menu {
  display: flex;
  gap: 98px;
}

.welcome-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-menu {
  font-size: 62px;
  font-weight: 600;
  text-align: left;
}

.title-menu span{
  color: var(--bg-color-purple);
}

.call-to-action {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.call-to-action span{
  font-weight: bold;
}

.btn-see-project a{
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: var(--bg-color-purple);
  color: var(--bg-color-white000);
  padding: 0px 16px;
  width: 24%;
  height: 50px;
  border-radius: 14px;
  cursor: pointer;
  text-decoration: none;
}

.img-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-menu img {
  width: 400px;
  border-radius: 10px;
}

/* -- Entreprise -- */

.entreprise {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.all-entreprise {
  display: flex;
  gap: 32px;
  margin-top: 10px;
}

.text-entreprise {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text-entreprise-title {
  font-size: 50px;
  font-weight: 800;
}

.text-entreprise a {
  border-radius: 16px;
  padding: 14px;
  border: none;
  background-color: var(--bg-color);
  color: var(--bg-color-white000);
  font-weight: 600;
  font-family: 'Readex Pro', sans-serif;
  text-decoration: none;
  text-align: center;
}

.span-entreprise {
  font-weight: 500;
  font-size: 22px;
  display: flex;
  justify-content: space-around;
  padding: 48px 0px;
}

/* -- Projets -- */

.project {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 28px;
}

.all-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.box {
  height: 300px;
  width: 300px;
  box-shadow: 0px 4px 12px var(--bg-color-black-opacity001);
  border-radius: 20px;
}

.box-head {
  display: flex;
  padding: 14px;
}

.box-head img {
  border-radius: 12px;
  height: 80px;
  width: 80px;
}

.box-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.box-title {
  font-size: 28px;
  font-weight: 600;
}

.box-subtitle {
  font-size: 14px;
  font-style: italic;
}

.box-description {
  padding: 14px;
}

.box-description p {
  font-size: 18px;
}

.back-to-link {
  padding: 14px;
}

.back-to-link a {
  text-underline-offset: 2px;
  text-decoration: underline;
  color: var(--bg-color-black);
  font-weight: 500;
  font-size: 18px;
}

.veille-head {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.veille-head-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-size: 32px;
}

.veille {
  height: 100vh;
}

.veille-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.veille-box-all {
  display: flex;
  justify-content: center;
  gap: 34px;
}

.veille-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 22px;
  border: 1px solid var(--bg-color-black);
  border-radius: 30px;
}

footer {
  display: flex;
  gap: 2px;
  padding: 8px 0px;
  flex-direction: column;
  align-items: center;
}

.infos-author-portfolio {
  font-weight: bold;
  color: var(--bg-color-salmon);
}

.infos-author-icons {
  color: var(--bg-color-purple);
  text-decoration: underline;
}

.scroll-to-next {
  color: #000;
}

.hover-btn:hover {
  background-color: var(--bg-color-purple-hover);
}